/* Elements */
body {
  background-color: rgb(243, 245, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 25px;
  font-size: 48px;
}

label {
  font-size: 32px;
  margin-bottom: 15px;
}

input {
  margin-bottom: 25px;
  height: 40px;
  width: 300px;
}

/* Id's */
#question {
  font-size: 32px;
  margin-bottom: 20px;
}

#end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#endForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#highScoreList {
  list-style: none;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Classes */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 10px;
  font-size: 25px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
  color: white;
  background-color: #2f8dff;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px #888888;
}

.fas {
  margin-left: 15px;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choice {
  width: 100%;
  padding: 15px 15px;
}

.correct {
  background-color: rgb(102, 238, 102);
}

.incorrect {
  background-color: rgb(224, 81, 81);
}
